@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  padding: 0 100px;
  overflow: hidden;
}

.container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.container .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header .logo img {
  padding-right: 10px;
}

.container .header .logo p {
  color: #4468e2;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.container .header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header .menu a {
  text-decoration: none;
  padding: 0 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 22px;
}

.container .header .contact {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  padding: 5px 16px;
  background-color: #4468e2;
  border-radius: 26px;
  font-weight: 300;
}

.container .header .humberger-menu {
  display: none;
  right: 0;
  position: relative;
}

.container .header .humberger-menu div:nth-child(1) {
  position: absolute;
  right: 10px;
  top: 0;
  height: 2px;
  width: 18px;
  background-color: #444;
}

.container .header .humberger-menu div:nth-child(2) {
  position: absolute;
  right: 10px;
  height: 2px;
  top: 5px;
  width: 18px;
  background-color: #444;
}

.container .header .humberger-menu div:nth-child(3) {
  position: absolute;
  right: 10px;
  height: 2px;
  top: 10px;
  width: 18px;
  background-color: #444;
}

.container .header .humberger-menu .div1 {
  position: absolute;
  background-color: red;
  font-weight: bold;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-animation: animate 0.7s forwards;
          animation: animate 0.7s forwards;
}

.container .header .humberger-menu .div2 {
  opacity: 0;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.container .header .humberger-menu .div3 {
  background-color: red;
  font-weight: bold;
  top: 5px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-animation: animate2 0.7s forwards;
          animation: animate2 0.7s forwards;
}

@-webkit-keyframes animate {
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(5px) rotateZ(-45deg);
            transform: translateY(5px) rotateZ(-45deg);
  }
}

@keyframes animate {
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(5px) rotateZ(-45deg);
            transform: translateY(5px) rotateZ(-45deg);
  }
}

@-webkit-keyframes animate2 {
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(-5px) rotateZ(45deg);
            transform: translateY(-5px) rotateZ(45deg);
  }
}

@keyframes animate2 {
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(-5px) rotateZ(45deg);
            transform: translateY(-5px) rotateZ(45deg);
  }
}

.container .slider {
  background-image: url("imgs/slider2.jpg");
  background-size: cover;
  border-radius: 10px;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.container .row h1 {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
}

.container .row P {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: white;
}

.container .row .last-slide-div {
  position: relative;
  margin-top: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  background-color: rgba(243, 237, 237, 0.72);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .row .last-slide-div div {
  padding: 0 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .row .last-slide-div h3 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.container .row .last-slide-div input {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #7e7e7e;
  border: none;
  background: none;
  width: 100%;
  outline: none;
}

.container .row .last-slide-div .btn {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 19px;
  color: white;
  background-color: #4468e2;
  border-radius: 7px;
  padding: 7px 10px;
}

.container .row .last-slide-div .togo,
.container .row .last-slide-div .check-in {
  border-right: 2px solid #9a9797;
}

.container .row .last-slide-div .check-out,
.container .row .last-slide-div .togo,
.container .row .last-slide-div .check-in {
  width: 100%;
}

.container .groupe37 {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .groupe37 .parent-section1,
.container .groupe37 .parent-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .groupe37 .section {
  margin: 10px;
}

.container .groupe37 .section i {
  color: blue;
  background-color: #dbe5f3;
  height: 70px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 35px;
}

.container .groupe37 .section :nth-child(2) {
  font-weight: bold;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #0f0f0f;
  margin: 15px 0;
}

.container .groupe37 .section :nth-child(3) {
  font-family: "Poppins", sans-serif;
  color: #0f0f0f;
  margin: 15px 0;
}

.container .parent-destination {
  padding-bottom: 100px;
}

.container .parent-destination .title-destination {
  text-align: center;
  padding: 30px 0;
}

.container .parent-destination .title-destination h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.container .parent-destination .travel-type-parent {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .parent-destination .travel-type-parent .travel-type {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #a7a7a7;
}

.container .parent-destination .travel-type-parent .travel-type p {
  font-family: "Poppins", sans-serif;
}

.container .parent-destination .travel-type-parent .travel-type :not(:last-child) {
  margin-right: 10px;
}

.container .parent-destination .travel-type-parent .travel-type p:hover::before {
  content: "";
  background-color: #a7a7a7;
  width: 170px;
  height: 3px;
  position: absolute;
  bottom: 0;
}

.container .cities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.container .cities .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .cities .section img {
  width: 300px;
  height: 150px;
  margin: 10px 0;
  border-radius: 7px;
}

.container .cities .section :nth-child(2) {
  font-family: "Poppins", sans-serif;
  color: #163235;
  font-weight: bold;
}

.container .cities .section :nth-child(3) {
  font-family: "Poppins", sans-serif;
  color: #163235;
}

.container .cities .section .prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .cities .section .prices .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .cities .section .prices .icons div {
  background-color: #1c4961;
  width: 33px;
  height: 33px;
  margin: 5px 5px 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #ffffff;
}

.container .cities .section .prices .kms,
.container .cities .section .prices .£ {
  color: #163235;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
}

.container .cities .section .prices .parent-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  direction: rtl;
}

.container .blogs {
  text-align: center;
  padding-bottom: 50px;
}

.container .blogs h1 {
  padding-bottom: 30px;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.container .blogs .blogs-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .blogs .blogs-slide .left-slide {
  background-image: url("imgs/train.jpg");
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 413px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 7px;
}

.container .blogs .blogs-slide .left-slide div {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 50px;
  max-width: 400px;
}

.container .blogs .blogs-slide .right-slide {
  font-family: "Poppins", sans-serif;
  width: 50%;
  height: 413px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .blogs .blogs-slide .right-slide :nth-child(1) {
  background-image: url("imgs/plane.jpg");
  background-size: cover;
  margin-bottom: 10px;
  height: 100%;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 35px;
  padding: 0 20px;
  border-radius: 7px;
}

.container .blogs .blogs-slide .right-slide :nth-child(2) {
  background-image: url("imgs/train.jpg");
  background-size: cover;
  height: 100%;
  margin-top: 10px;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 35px;
  padding: 0 20px;
  border-radius: 7px;
}

.container .customers {
  padding: 50px 0;
  text-align: center;
}

.container .customers h1 {
  padding-bottom: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.container .customers .parent-custo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Poppins", sans-serif;
}

.container .customers .section-cust1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

.container .customers .section-cust1 .log img {
  margin-right: 20px;
  color: #707070;
}

.container .customers .section-cust1 .cust-text {
  text-align: left;
}

.container .customers .section-cust1 .cust-text p {
  padding-bottom: 20px;
  color: #707070;
}

.container .customers .section-cust1 .cust-text .profil-custo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .customers .section-cust1 .cust-text .profil-custo img {
  margin-right: 5px;
  width: 50px;
  height: 50px;
}

.container .customers .section-cust1 .cust-text .profil-custo p {
  padding: 0;
}

.container .customers .section-cust1 .cust-text .profil-custo :nth-child(1) {
  color: black;
}

.container .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: #e1e8f8;
  border-radius: 6px;
}

.container .footer .copyright {
  color: #000000;
  font-family: "Poppins", sans-serif;
}

.container .footer .footer-menu a {
  text-decoration: none;
  color: #000000;
  font-family: "Poppins", sans-serif;
}

.container .footer .footer-menu :not(:last-child) {
  margin-right: 20px;
}

.container .footer .footer-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .footer .footer-media i {
  background: #000000;
  margin-left: 4px;
  padding: 10px;
  border-radius: 50%;
  color: white;
}

@media (max-width: 921px) {
  .container {
    padding: 0 30px;
  }
  .container .row h1 {
    font-size: 30px;
  }
  .container .row P {
    font-size: 16px;
    max-width: 400px;
  }
  .container .row .last-slide-div {
    padding: 5px;
  }
  .container .row .last-slide-div div {
    padding: 0 10px;
  }
  .container .row .last-slide-div div h3 {
    font-size: 14px;
  }
  .container .row .last-slide-div div p {
    font-size: 12px;
  }
  .container .row .last-slide-div .btn {
    font-size: 13px;
    color: white;
    padding: 5px 7px;
  }
  .container .blogs h1 {
    padding-bottom: 30px;
  }
  .container .blogs .blogs-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .blogs .blogs-slide .left-slide {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
  }
  .container .blogs .blogs-slide .right-slide {
    width: 100%;
  }
}

@media (max-width: 769px) {
  .container {
    padding: 0 20px;
  }
  .container .header .menu,
  .container .header .contact {
    display: none;
  }
  .container .header .humberger-menu {
    display: block;
  }
  .container .row .last-slide-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 90%;
  }
  .container .row .last-slide-div div {
    margin: 10px 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .container .row .last-slide-div .togo,
  .container .row .last-slide-div .check-in {
    border: none;
  }
  .container .groupe37 {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .container .groupe37 .parent-section1,
  .container .groupe37 .parent-section2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .parent-destination .title-destination h1 {
    font-size: 30px;
  }
  .container .parent-destination .travel-type-parent {
    font-size: 16px;
  }
  .container .parent-destination .travel-type-parent .travel-type {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
  }
  .container .parent-destination .travel-type-parent .travel-type p {
    margin: 10px 0;
  }
  .container .parent-destination .travel-type-parent .travel-type p:hover::before {
    content: "";
    width: 0;
    height: 0;
  }
  .container .blogs .blogs-slide .left-slide div {
    font-size: 30px;
  }
  .container .parent-custo {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .container .parent-custo .section-cust1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 0;
  }
  .container .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .footer div {
    margin: 5px 0;
  }
}
/*# sourceMappingURL=main.css.map */