* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding: 0 100px;
  overflow: hidden;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        padding-right: 10px;
      }
      p {
        color: #4468e2;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
      }
    }
    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        text-decoration: none;
        padding: 0 30px;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-size: 22px;
      }
    }
    .contact {
      color: white;
      font-family: "Poppins", sans-serif;
      font-size: 19px;
      padding: 5px 16px;
      background-color: #4468e2;
      border-radius: 26px;
      font-weight: 300;
    }
    .humberger-menu {
      display: none;
      right: 0;
      position: relative;
      div:nth-child(1) {
        position: absolute;
        right: 10px;
        top: 0;
        height: 2px;
        width: 18px;
        background-color: #444;
      }
      div:nth-child(2) {
        position: absolute;
        right: 10px;
        height: 2px;
        top: 5px;
        width: 18px;
        background-color: #444;
      }
      div:nth-child(3) {
        position: absolute;
        right: 10px;
        height: 2px;
        top: 10px;
        width: 18px;
        background-color: #444;
      }
      .div1 {
        position: absolute;
        background-color: red;
        font-weight: bold;
        transition: all 1s ease-in-out;
        animation: animate 0.7s forwards;
      }
      .div2 {
        opacity: 0;
        transition: all 2s ease;
      }
      .div3 {
        background-color: red;
        font-weight: bold;
        top: 5px;
        transition: all 1s ease-in-out;
        animation: animate2 0.7s forwards;
      }
    }
    @keyframes animate {
      // 0% {
      //   transform: translateY(0px);
      // }
      50% {
        transform: translateY(5px);
      }
      100% {
        transform: translateY(5px) rotateZ(-45deg);
      }
    }
    @keyframes animate2 {
      // 0% {
      //   transform: translateY(0px);
      // }
      50% {
        transform: translateY(-5px);
      }
      100% {
        transform: translateY(-5px) rotateZ(45deg);
      }
    }
  }
  .slider {
    background-image: url("imgs/slider2.jpg");
    background-size: cover;
    border-radius: 10px;
    padding: 100px 0;
    display: flex;
    justify-content: center;
  }
  .row {
    // max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1 {
      font-size: 50px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      color: white;
    }
    P {
      // max-width: 500px;
      font-family: "Poppins", sans-serif;
      font-weight: normal;
      font-size: 18px;
      color: white;
    }
    .last-slide-div {
      position: relative;
      margin-top: 20px;
      padding: 10px;
      display: flex;
      justify-content: center;
      border-radius: 5px;
      background-color: rgba(243, 237, 237, 0.72);
      align-items: center;
      div {
        padding: 0 9px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      h3 {
        font-family: "Poppins", sans-serif;
        font-weight: normal;
        font-size: 20px;
      }
      input {
        font-family: "Poppins", sans-serif;
        font-weight: normal;
        color: #7e7e7e;
        border: none;
        background: none;
        width: 100%;
        outline: none;
      }
      .btn {
        font-family: "Poppins", sans-serif;
        font-weight: normal;
        font-size: 19px;
        color: white;
        background-color: #4468e2;
        border-radius: 7px;
        padding: 7px 10px;
      }
      .togo,
      .check-in {
        border-right: 2px solid #9a9797;
      }
      .check-out,
      .togo,
      .check-in {
        width: 100%;
      }
    }
  }
  .groupe37 {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .parent-section1,
    .parent-section2 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .section {
      margin: 10px;
      i {
        color: blue;
        background-color: rgb(219, 229, 243);
        height: 70px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
      }
      :nth-child(2) {
        font-weight: bold;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        color: #0f0f0f;
        margin: 15px 0;
      }
      :nth-child(3) {
        font-family: "Poppins", sans-serif;
        color: #0f0f0f;
        margin: 15px 0;
      }
    }
  }
  .parent-destination {
    padding-bottom: 100px;
    .title-destination {
      text-align: center;
      padding: 30px 0;
      h1 {
        font-size: 50px;
        font-weight: bold;
        font-family: "Poppins", sans-serif;
      }
    }
    .travel-type-parent {
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      .travel-type {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #a7a7a7;

        p {
          font-family: "Poppins", sans-serif;
        }
        :not(:last-child) {
          margin-right: 10px;
        }

        p:hover::before {
          content: "";
          background-color: #a7a7a7;
          width: 170px;
          height: 3px;
          position: absolute;
          bottom: 0;
        }
      }
    }
  }
  .cities {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    .section {
      display: flex;
      flex-direction: column;

      img {
        width: 300px;
        height: 150px;
        margin: 10px 0;
        border-radius: 7px;
      }
      :nth-child(2) {
        font-family: "Poppins", sans-serif;
        color: #163235;
        font-weight: bold;
      }
      :nth-child(3) {
        font-family: "Poppins", sans-serif;
        color: #163235;
      }
      .prices {
        display: flex;
        justify-content: space-between;
        .icons {
          display: flex;
          justify-content: space-between;
          align-items: center;

          div {
            background-color: #1c4961;
            width: 33px;
            height: 33px;
            margin: 5px 5px 5px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: #ffffff;
          }
        }
        .kms,
        .£ {
          color: #163235;
          font-family: "Poppins", sans-serif;
          font-size: 11px;
        }
        .parent-price {
          display: flex;
          flex-direction: column;
          justify-content: center;
          direction: rtl;
        }
      }
    }
  }
  .blogs {
    text-align: center;
    padding-bottom: 50px;
    h1 {
      padding-bottom: 30px;
      font-size: 40px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
    }
    .blogs-slide {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left-slide {
        background-image: url("imgs/train.jpg");
        background-size: cover;
        background-position: center;
        width: 50%;
        height: 413px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        div {
          font-family: "Poppins", sans-serif;
          font-weight: bold;
          color: white;
          font-size: 50px;
          max-width: 400px;
        }
      }
      .right-slide {
        font-family: "Poppins", sans-serif;
        width: 50%;
        height: 413px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        :nth-child(1) {
          background-image: url("imgs/plane.jpg");
          background-size: cover;
          margin-bottom: 10px;
          height: 100%;
          background-position: center;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: 35px;
          padding: 0 20px;
          border-radius: 7px;
        }
        :nth-child(2) {
          background-image: url("imgs/train.jpg");
          background-size: cover;
          height: 100%;
          margin-top: 10px;
          background-position: center;
          display: flex;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: 35px;
          padding: 0 20px;
          border-radius: 7px;
        }
      }
    }
  }
  .customers {
    padding: 50px 0;
    text-align: center;

    h1 {
      padding-bottom: 40px;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
    }
    .parent-custo {
      display: flex;
      font-family: "Poppins", sans-serif;
    }
    .section-cust1 {
      display: flex;
      justify-content: space-between;
      padding: 0 10px;

      .log {
        img {
          margin-right: 20px;
          color: #707070;
        }
      }

      .cust-text {
        text-align: left;

        p {
          padding-bottom: 20px;
          color: #707070;
        }
        .profil-custo {
          display: flex;
          align-items: center;
          img {
            margin-right: 5px;
            width: 50px;
            height: 50px;
          }
          p {
            padding: 0;
          }
          :nth-child(1) {
            color: black;
          }
        }
      }
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #e1e8f8;
    border-radius: 6px;
    .copyright {
      color: #000000;
      font-family: "Poppins", sans-serif;
    }
    .footer-menu {
      a {
        text-decoration: none;
        color: #000000;
        font-family: "Poppins", sans-serif;
      }
      :not(:last-child) {
        margin-right: 20px;
      }
    }
    .footer-media {
      display: flex;
      justify-content: space-between;
      i {
        background: #000000;
        margin-left: 4px;
        padding: 10px;
        border-radius: 50%;
        color: white;
      }
    }
  }
}
@media (max-width: 921px) {
  .container {
    padding: 0 30px;
    .row {
      h1 {
        font-size: 30px;
      }
      P {
        font-size: 16px;
        max-width: 400px;
      }
      .last-slide-div {
        padding: 5px;
        div {
          padding: 0 10px;
          h3 {
            font-size: 14px;
          }
          p {
            font-size: 12px;
          }
        }

        .btn {
          font-size: 13px;
          color: white;
          padding: 5px 7px;
        }
      }
    }
    .blogs {
      h1 {
        padding-bottom: 30px;
      }
      .blogs-slide {
        flex-direction: column;
        .left-slide {
          width: 100%;
          margin: 0;
          margin-bottom: 15px;
        }
        .right-slide {
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 769px) {
  .container {
    padding: 0 20px;
    .header {
      .menu,
      .contact {
        display: none;
      }
      .humberger-menu {
        display: block;
      }
    }
    .row {
      .last-slide-div {
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        div {
          margin: 10px 0;
          align-items: flex-start;
        }
        .togo,
        .check-in {
          border: none;
        }
      }
    }
    .groupe37 {
      flex-flow: wrap;
      .parent-section1,
      .parent-section2 {
        flex-direction: column;
      }
    }
    .parent-destination {
      .title-destination {
        h1 {
          font-size: 30px;
        }
      }
      .travel-type-parent {
        font-size: 16px;
        .travel-type {
          flex-direction: column;
          border: none;
          p {
            margin: 10px 0;
          }
          p:hover::before {
            content: "";
            width: 0;
            height: 0;
          }
        }
      }
    }
    .blogs {
      .blogs-slide {
        .left-slide {
          div {
            font-size: 30px;
          }
        }
      }
    }

    .parent-custo {
      flex-flow: wrap;
      .section-cust1 {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
      }
    }
    .footer {
      flex-direction: column;
      div {
        margin: 5px 0;
      }
    }
  }
}
